In [3]:
import pandas as pd
df = pd.read_csv('queried.csv')

In [4]:
df.head()

,Symbol,Element,AtomicNumber,AtomicMass,Period,Group,Phase,Type
0,H,Hydrogen,1,1.007,1,1,gas,Nonmetal
1,He,Helium,2,4.002,1,18,gas,Noble Gas
2,Li,Lithium,3,6.941,2,1,solid,Alkali Metal
3,Be,Beryllium,4,9.012,2,2,solid,Alkaline Earth Metal
4,B,Boron,5,10.811,2,13,solid,Metalloid

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 8 columns):
Symbol                   118 non-null object
Element                  118 non-null object
AtomicNumber             118 non-null int64
AtomicMass               118 non-null float64
Period                   118 non-null int64
Group                    118 non-null object
Phase                    118 non-null object
Type                     118 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.5+ KB

In [13]:
df.columns

Index(['Symbol ', 'Element       ', 'AtomicNumber ', 'AtomicMass ', 'Period ',
       'Group ', 'Phase      ', 'Type                 '],
      dtype='object')

In [42]:
vals = [df['Group '].index for i in df['Group '] if i.strip() != '']
vals.sort()
print(vals)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()